<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<div class="container">



This is the page where i talk about the purpose of this page. This website is for the purpose of creating
random passwords. you can choose what sort of format you want your password to be in. Whether its only numbers,
upper or lower case
characters or if you want to add any special characters its your choice. It is built on django which is a python framework.

<br>
<a href="{%url 'home'%}" class="btn btn-success">Home</a>

</div>
